.header {
  background: $color-secondary;
  color: $color-dark;
  &_col {
    display: flex;
    margin: 1rem;
    align-items: center;
  }

  &__logo {
    padding-right: 1rem;
    margin-bottom: 0.5em;
  }
}

.menu {
  &__body {
    flex: 1 1 auto;
    padding: 1em;
  }

  &__list {
    display: flex;
    column-gap: 2rem;
    white-space: nowrap;
  }

  &__item {
    :hover {
      color: black;
      text-decoration: underline solid 0.15rem;
    }
    :visited {
      color: black;
    }
  }
}

.contacts {
  &__button {
    border: 1px solid;
    font-weight: 500;
    padding: 1rem;
    background-color: $color-secondary;
    border-color: $color-primary;
    color: $color-primary;
  }
  &__button:hover {
    box-shadow: 2px 2px 8px $color-primary;
  }
}

.phone-line {
  padding: 0 1rem;
}

.phone-call-icon {
  font-size: 1.125rem;
  font-weight: bold;
}
